@font-face {
  font-family: "fflx";
  src: url('./fflx.ttf') format('truetype');
}
body {
    font: normal 16px "微软雅黑", "Arial", "MIC", "Tahoma", sans-serif;
    /*color:#4c4c4c;*/
    
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
    padding: 0px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
div,
p,
i,
img,
ul,
li,
ol,
table,
tr,
td,
fieldset,
label,
legend,
dt,
dd,
dl,
em,
button {
    margin: 0;
    padding: 0;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
figcaption {
    display: block;
}

figure {
    margin: 0;
}

img {
    border: 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

fieldset,
form {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

input,
button {
    outline: none;
}

i {
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 320px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

